section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    padding-top: 150px;
}

.blue {
    background-color: aquamarine;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 159px;
}

.blue .wave .shape-fill {
    fill: red;
}

.green .wave .shape-fill {
    fill: aquamarine;
}



.wave-cascade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-cascade svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 129px;
}

.wave-cascade .shape-fill {
    fill: #000000;
}


.title {
    margin: 2%;
    font-size: 2rem;
}

.content {
    font-size: larger;
}


.tilt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.tilt svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 205px;
    transform: rotateY(180deg);
}

.tilt .shape-fill {
    fill: aquamarine;
}

.green-fill .shape-fill {
    fill: green;
}

img {
    margin-top: 2%;
    width: 400px;
    height: 200px;
}