
nav {
    background-color: #1A2F4B;
    position: sticky;
    top: 0;
    
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-links, .nav-button {
    list-style: none;
    padding: 25px 70px;
}

.nav-links a {
    text-decoration: none;
    color: azure;
}


/* Define the keyframes for the animation */
@keyframes underline-from-left {
    0% {
      width: 0;
      left: 0;
    }
    100% {
      width: 100%;
      left: 0;
    }
  }
  
  /* Apply the animation to an element */
  .nav-links a {
    position: relative;
    display: inline-block;
  }
  
  .nav-links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px; /* Adjust the height as needed */
    background-color: white; /* Change the color as needed */
    animation: underline-from-left 0.5s ease-in-out forwards;
  }
  
  /* Trigger the animation on hover */
.nav-links a:hover::before {
    width: 100%;
}

.contact-btn {
    width: 150px;
    height: 35px;
    border-radius: 45px;
    border: none;
}

.contact-btn:hover {
    background-color: rgb(204, 43, 43);
    cursor: pointer;
}